/* stylelint-disable function-url-quotes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(wallpaperflare.com_wallpaper.jpg);
  background-size: cover;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.espaco {
  height: 100px;
}

.trybewarts-header-logo {
  height: 90px;
}

.trybewarts-header-title {
  display: flex;
}

.trybewarts-login {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: space-evenly;

}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  background-color: rgba(49, 95, 95, 0.9);
}

.nome-sobrenome {
  display: flex;
}

.email-house {
  display: flex;
}

#trybewarts-forms-logo {
  height: 500px;
}

.rodape {
  display: flex;
  background-color: rgba(50, 167, 145,);
  justify-content: center;
}
